<h1>Edit: <%= @pharmacy.name %></h1></br>
<%= form_with url: "/pharmacies/#{@pharmacy.id}", method: :patch, local: true do |form| %><br>
  <%= form.label "Pharmacy Name" %>
  <%= form.text_field :name %><br><br>

  <%= form.label "Pharmacist" %>
  <%= form.text_field :pharmacist_in_charge %><br><br>

  <%= form.label "Number of employees" %>
  <%= form.number_field :num_employees, in: 1..500, step: 1%><br><br>

  <%= form.label "City" %>
  <%= form.text_field :city %><br><br>

  <%= form.label "Open 24 hours" %>
  <%= form.radio_button :open_24_hours, true %>
  <%= form.label :open_24_hours_true , "true" %>
  <%= form.radio_button :open_24_hours, false %>
  <%= form.label :open_24_hours_false , "false" %><br><br>
  <%= form.submit "Update Pharmacy" %>
<% end %>