<h1><%= @pharmacy.name %></h1>
<p>ID: <%= @pharmacy.id %></p>
<p>Pharmacist: <%= @pharmacy.pharmacist_in_charge %></p>
<p>Number of employees: <%= @pharmacy.num_employees %></p>
<p>Location: <%= @pharmacy.city %></p>
<p>Open 24 Hours: <%= @pharmacy.open_24_hours %></p>
<p>Medication Count: <%= @pharmacy.count_medications %></p>
<%= link_to "#{@pharmacy.name}'s Medications", "/pharmacies/#{@pharmacy.id}/medications" %></br></br>
<%= link_to "Update Pharmacy", "/pharmacies/#{@pharmacy.id}/edit"%>