<%= link_to "Pharmacies", "/pharmacies" %>
<%= link_to "Medications", "/medications" %>
<% @medications.each do |medication| %>
  <h2><%= medication.name %></h2>
  <p>Strength: <%= medication.strength %></p>
  <p>Dosage Form: <%= medication.dosage_form %></p>
  <p>Quantity: <%= medication.quantity %></p>
  <p>In Stock: <%= medication.in_stock %></p>
<% end %>
<%= link_to "Add Medication", "/pharmacies/#{@pharmacy.id}/medications/new"%>