<% @medications.each do |medication| %>
  <h2><%= medication.name %></h2>
  <p>Strength: <%= medication.strength %></p>
  <p>Dosage Form: <%= medication.dosage_form %></p>
  <p>Quantity: <%= medication.quantity %></p>
  <p>In Stock: <%= medication.in_stock %></p>
  <p>ID: <%= medication.id %></p>
  <%= button_to "Delete #{medication.name}", "/medications/#{medication.id}", method: :delete%><br>
<% end %>
<p><a id ="Sort Alphabetically" href="/pharmacies/<%=@pharmacy.id%>/medications/?sort=true">Sort Alphabetically</a></p>
<%= link_to "Add Medication", "/pharmacies/#{@pharmacy.id}/medications/new"%><br><br>

<form action="/pharmacies/<%= @pharmacy.id %>/medications/?quantity=">
<label>Return medications with quantity greater than:</label>
<input type = "number" id="filter_quantity" placeholder = "0" name="quantity" required>
<input type="submit" value="Filter" id="submit">
</form>
