<h1>Medications</h1>
<% @medications.each do |medication| %>
  <h2><%= medication.name %></h2>
  <p>Strength: <%= medication.strength %></p>
  <p>Dosage Form: <%= medication.dosage_form %></p>
  <p>Quantity: <%= medication.quantity %></p>
  <p>In Stock: <%= medication.in_stock %></p>
  <p>ID: <%= medication.id %></p>
  <%= button_to "Delete #{medication.name}", "/medications/#{medication.id}", method: :delete%><br>
  <%= link_to "Edit #{medication.name}", "/medications/#{medication.id}/edit" %><br><br><br>
<% end %>