<%= link_to "Pharmacies", "/pharmacies" %>
<%= link_to "Medications", "/medications" %>
<h1><%= @medications.name %></h1>
<p>Strength: <%= @medications.strength %></p>
<p>Dosage Form: <%= @medications.dosage_form %></p>
<p>Quantity: <%= @medications.quantity %></p>
<p>In Stock: <%= @medications.in_stock %></p>